[submodule "themes/themes/meghna-hugo"]
	path = themes/themes/meghna-hugo
	url = git@github.com:qleap-edu-keio/qleap-edu-keio.github.io.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/qleap-edu-keio/qleap-edu-keio.github.io.git
[submodule "themes"]
	path = themes
	url = https://github.com/qleap-edu-keio/qleap-edu-keio.github.io.git
